{% extends "admin/base_site.html" %}
{% load presupuesto_tags %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}


{% block content %}
    <style>
        .w3-card-4 {
          margin-bottom: 1%;
        }
        table {
            width:100%;
        }
        tbody{
            width: 100%;
            display: table;
        }
        .label {
            color: white;
            padding: 8px;
            font-weight: bold;
            font-size: x-large;
            border-radius: 5px;
        }
    </style>

    <h1 style="text-align:center; color: black">Cotización</h1>


    <div class="w3-card-4" style="width:60%;margin-left:auto;margin-right:auto;">
        <header class="w3-container w3-light-grey">
          <h4>Datos de la cotización</h4>
        </header>
        <div class="w3-container">
          <table>
              <tbody>
                <tr>
                    <th scope="row"> Fecha de presentación </th>
                    <td> {{ object.fecha }} </td>
                </tr>

                <tr>
                    <th scope="row"> Solicitud </th>
                    <td>
                        <a href="/admin/cotizaciones/solicitud_detail/{{ object.solicitud.pk }}">
                            {{ object.solicitud.pk }} - {{ object.solicitud.fecha|date:"d/m/Y" }}
                        </a>
                    </td>

                </tr>

                <tr>
                    <th scope="row"> Comentarios </th>
                    {% if object.comentarios %}
                        <td> {{ object.comentarios }} </td>
                    {% else %}
                        <td>
                            Sin comentarios adicionales.
                        </td>
                </tr>
                {% endif %}
              </tbody>
          </table>
        </div>
    </div>


    {% if object.solicitud.tipo == 'M' %}
        <caption>
            <h4 style="text-align:center">
                Materiales
            </h4>
        </caption>

        {% if materiales %}
            <div class="w3-card-4" style="width:60%;margin-left:auto;margin-right:auto;">
                <table style="width: 100%">
                        <tr style="background-color: lightgrey">
                            <th>Descripción</th>
                            <th>Unidad</th>
                            <th>Precio Unitario</th>
                        </tr>

                        {% for mdc in materiales %}
                        <tr>
                            <td>{{ mdc.material }}</td>
                            <td>{{ mdc.material.unidad_de_medida.simbolo }}</td>
                            <td>{{ mdc.precio | floatformat:"0" | default_if_none:"&nbsp;" }}</td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        {% endif %}
    {% elif object.solicitud.tipo == 'S' %}
        <caption>
            <h4 style="text-align:center">
                Servicios
            </h4>
        </caption>

        {% if servicios %}
            <div class="w3-card-4" style="width:60%;margin-left:auto;margin-right:auto;">
                <table style="width: 100%">
                        <tr style="background-color: lightgrey">
                            <th>Descripción</th>
                            <th>Unidad</th>
                            <th>Precio Unitario</th>
                        </tr>

                        {% for sdc in servicios %}
                        <tr>
                            <td>{{ sdc.servicio }}</td>
                            <td>{{ sdc.servicio.unidad_de_medida.simbolo }}</td>
                            <td>{{ sdc.precio | floatformat:"0" | default_if_none:"&nbsp;" }}</td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        {% endif %}
    {% endif %}

    <button type="button" class="btn btn-primary" onclick="window.history.back(); return false;">Volver</button>

{% endblock %}