{% extends "admin/base_site.html" %}
{% load presupuesto_tags %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}


{% block content %}
    <style>
        .w3-card-4 {
          margin-bottom: 1%;
        }
        table {
            width:100%;
        }
        tbody{
            width: 100%;
            display: table;
        }
        .label {
            color: white;
            padding: 8px;
            font-weight: bold;
            font-size: x-large;
            border-radius: 5px;
        }
    </style>

    <h1 style="text-align:center; color: black">Solicitud de cotización</h1>


    <div class="w3-card-4" style="width:60%;margin-left:auto;margin-right:auto;">
        <header class="w3-container w3-light-grey">
          <h4>Datos de la solicitud</h4>
        </header>
        <div class="w3-container">
          <table>
              <tbody>
                <tr>
                    <th scope="row"> Fecha de solicitud </th>
                    <td> {{ object.fecha }} </td>
                </tr>

                <tr>
                    <th scope="row"> Vencimiento </th>
                    <td> {{ object.vencimiento }} </td>
                </tr>

                {% if object.presupuesto.ciudad %}
                    <tr>
                        <th scope="row"> Ciudad </th>
                        <td> {{ object.presupuesto.ciudad.nombre }} </td>
                    </tr>
                {% endif %}

                    <tr>
                        <th scope="row"> Comentarios </th>
                        {% if object.comentarios %}
                            <td> {{ object.comentarios }} </td>
                        {% else %}
                            <td>
                                Sin comentarios adicionales.
                            </td>
                    </tr>
                {% endif %}
              </tbody>
          </table>
        </div>
    </div>


    <caption>
        <h4 style="text-align:center">
            {% if object.tipo == 'M' %}
                Materiales
            {% else %}
                Servicios
            {% endif %}
        </h4>
    </caption>

    {% if detalles %}
        <div class="w3-card-4" style="width:60%;margin-left:auto;margin-right:auto;">
            <table style="width: 100%">
                    <tr style="background-color: lightgrey">
                        <th>Descripción</th>
                        <th style="text-align: right">Cantidad</th>
                        <th>Unidad</th>
                    </tr>
                    {% if detalles %}
                        {% for detalle in detalles %}
                        <tr>
                            <td>{{ detalle.0 }} </td>
                            <td style="text-align: right">{{ detalle.1 | floatformat:"0" | default_if_none:"&nbsp;" }}</td>
                            <td>{{ detalle.0.unidad_de_medida.simbolo }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
            </table>
        </div>
    {% endif %}

    {% if cotizaciones %}
        <caption><h4 style="text-align:center">Cotizaciones</h4></caption>
        <div class="w3-card-4" style="width:60%;margin-left:auto;margin-right:auto;">
            <table style="width: 100%">
                    <tr style="background-color: lightgrey">
                        <th>Fecha</th>
                        <th>Oferente</th>
                    </tr>
                    {% for cotizacion in cotizaciones %}
                        <tr>
                            <td>
                                <a href="/admin/cotizaciones/cotizacion_detail/{{ cotizacion.pk }}">
                                    {{ cotizacion.fecha|date:"d/m/Y" }}
                                </a>
                            </td>
                            <td>
                               {{ cotizacion.creado_por }}
                            </td>
                        </tr>
                    {% endfor %}

            </table>
        </div>
    {% endif %}

    <form action="" method="post" style="align-content: center">
        {% csrf_token %}
		<div align="right" style="width:60%;margin-left:auto;margin-right:auto; padding-top: 3%">
            <div class="container">
                <a href="/admin/cotizaciones/cotizacion/add/?next=/admin/cotizaciones/contizacion/&solicitud={{ object.pk }}" class="btn btn-primary"  style="background-color: #04AA6D; color: white; font-size: x-large; border-radius: 5px; padding: 1%">
                    Cotizar {% if object.tipo == 'M' %}Materiales{% else %}Servicios{% endif %}
                </a>
            </div>
		</div>
	</form>
    <br><br>
    <button type="button" class="btn btn-primary" onclick="window.history.back(); return false;">Volver</button>

{% endblock %}