{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}
{% load presupuesto_tags %}

{% block search %}
    {% presupuesto_search_form cl %}
{% endblock %}


{% block object-tools %}
    <ul class="object-tools">
        {% block object-tools-items %}
            {% if has_add_permission %}
             <li>
                <a href="/admin/presupuestos/presupuesto/add/" class="addlink">
                    Nuevo Presupuesto
                </a>
            </li>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}