{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}


{% block object-tools %}
    <ul class="object-tools">
        {% if request.user.is_superuser %}
        <li>
          <a style="background-color: cornflowerblue" href="/admin/materiales/actualizaciondepreciosdemateriales/add/">
                Actualizar precios <i class="fa fa-upload"></i>
          </a>
        </li>
        {% endif %}
        {% block object-tools-items %}
            {% if has_add_permission %}
             <li>
                <a href="/admin/materiales/material/add/" class="addlink">
                    Añadir material
                </a>
            </li>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}