<div id="det-mat">
<h3>Precio actual: 
    {% if precio_actual %}
        {{ precio_actual }}
    {% else %}
        No especificado
    {% endif %}
</h3>
<h3>Historial de precios</h3>

{% if precios %}
    <table>
    <thead>
        <tr><th colspan="2">Vigencia</th><th rowspan="2">Precio</th></tr>
        <tr><th>Inicio</th><th>Fin</fin></th></tr>
    </thead>
    <tbody>
        {% for precio in precios %}
        <tr {% if  precio.es_actual %}
                style="background-color: rgb(94, 255, 0)"
            {% endif %} >
            <td>{{ precio.inicio_de_vigencia|date:"d/m/Y" }}</td>
            <td>{{ precio.fin_de_vigencia|date:"d/m/Y" }}</td>
            </td>
            <td>{{ precio.precio }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% autoescape off %}
    <script>
        
            let style = document.createElement("style");
            document.head.appendChild(style);
            style.innerText = 
            "#det-mat { font-family: sans-serif; } " +
            "th { background-color: #AAA; border: 1px solid black; } " +
            "tr { border: 1px solid black; } " +
            "table { border-collapse: collapse; } " +
            "body tr:nth-child(odd) { background-color: #EEF; } " +
            "#det-mat td { text-align: right; border: 1px solid black; padding: 5px; }" +
            "#det-mat th { padding: 6px; }";
    </script>
    {% endautoescape %}
{% endif %}
