            <!-- /.row -->
            <div id="id_modulos" class="row" style="width:80%;margin-left:auto;margin-right:auto;">
				{% if request.user.is_superuser %}
                    <div class="col-lg-3 col-md-6">
                        <a href="/admin/auth">
                            <div class="card card-hover">
                                <div class="box bg-cyan text-center">
                                    <div class="box bg-cyan text-center">
                                        <h2 class="font-light text-white"><img src="/static/img/sistema.png"></h2>
                                        <h4 class="text-white">SISTEMA</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}


				{% if perms.clientes %}
                    <div class="col-lg-3 col-md-6">
                        <a href="/admin/clientes/cliente">
                            <div class="card card-hover">
                                <div class="box text-center" style="background-color: #9C27B0">
                                    <div class="box text-center" style="background-color: #9C27B0">
                                        <h2 class="font-light text-white"><img src="/static/img/clientes.png"></h2>
                                        <h4 class="text-white">CLIENTES</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if request.user.is_superuser %}
                     <div class="col-lg-3 col-md-6">
                        <a href="/admin/administracion/dashboard">
                            <div class="card card-hover">
                                <div class="box text-center" style="background-color: #8d6e63">
                                    <div class="box text-center" style="background-color: #8d6e63">
                                        <h2><img class="font-light text-white"><img src="/static/img/administracion.png"></h2>
                                        <h4 class="text-white">ADMINISTRACIÓN*</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                {% endif %}


             </div>

             <div id="id_modulos" class="row" style="width:80%;margin-left:auto;margin-right:auto;">

                {% if perms.materiales %}
                     <div class="col-lg-3 col-md-6">
                        <a href="/admin/materiales">
                            <div class="card card-hover">
                                <div class="box bg-success text-center">
                                    <div class="box bg-success text-center">
                                        <h2><img class="font-light text-white"><img src="/static/img/invoice.png"></h2>
                                        <h4 class="text-white">MATERIALES</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                {% endif %}

                {% if perms.items %}
                    <div class="col-lg-3 col-md-6">
                        <a href="/admin/items">
                            <div class="card card-hover">
                                <div class="box bg-warning text-center">
                                    <div class="box bg-warning text-center">
                                        <h2 class="font-light text-white"><img src="/static/img/dispenser.png"></h2>
                                        <h4 class="text-white">ITEMS</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if perms.presupuestos %}
                     <div class="col-lg-3 col-md-6">
                        <a href="/admin/presupuestos/presupuesto">
                            <div class="card card-hover">
                                <div class="box bg-purple text-center">
                                    <div class="box bg-purple text-center">
                                        <h2><img class="font-light text-white"><img src="/static/img/invoice.png"></h2>
                                        <h4 class="text-white">PRESUPUESTOS</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                {% endif %}

            </div>
            <!-- /.row -->
