{% extends "admin/base_site.html" %}

{% block breadcrumbs %}

    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Inicio</a>
        &rsaquo; Panel de presupuestos
    </div>

{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block content %}
    <style>
        .w3-card-4 {
          margin-bottom: 1%;
        }
        table {
            width:100%;
        }
        tbody{
            width: 100%;
            display: table;
        }
        .label {
            color: white;
            padding: 8px;
            font-weight: bold;
            font-size: x-large;
            border-radius: 5px;
        }
    </style>

    <h1 style="text-align:center; color: black">Panel de administración de presupuestos</h1>

    <div class="w3-card-4" style="width:50%;margin-left:auto;margin-right:auto;">
        <a href="/admin/presupuestos/presupuesto">
            <div class="w3-container">
                <table summary="presupuestos">
                    <tbody>
                        <tr>
                            <td style="width: 10%">
                                <img class="font-light text-white">
                                <img src="/static/img/accounting.svg" style="height: 15em">
                            </td>
                            <td style="text-align: left; padding-left: 10%">
                                <div class="container" style="margin-top: 10%">
                                    <h4><b>Mis presupuestos</b></h4>
                                    <h4>Total: {{ total_presupuestos }}</h4>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </a>
    </div>

    <div class="w3-card-4" style="width:50%;margin-left:auto;margin-right:auto;">
        <a href="/admin/clientes/cliente">
            <div class="w3-container">
                <table summary="clientes">
                    <tbody>
                        <tr>
                            <td style="width: 10%">
                                <img class="font-light text-white">
                                <img src="/static/img/broke.svg" style="height: 15em ">
                            </td>
                            <td style="text-align: left; padding-left: 10%">
                                <div class="container" style="margin-top: 10%">
                                    <h4><b>Clientes</b></h4>
                                    <h4>Total: {{ total_clientes }}</h4>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </a>
    </div>

    <div class="w3-card-4" style="width:50%;margin-left:auto;margin-right:auto;">
        <a href="/admin/auth/user/{{ usuario_id }}/change/">
            <div class="w3-container">
                <table summary="usuario">
                    <tbody>
                        <tr>
                            <td style="width: 10%">
                                <img class="font-light text-white">
                                <img src="/static/img/builder.svg" style="height: 15em ">
                            </td>
                            <td style="text-align: left; padding-left: 10%">
                                <div class="container" style="margin-top: 10%">
                                    <h4><b>Mi Perfíl</b></h4>
                                    <h4>Ver o Editar</h4>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </a>
    </div>

    {% if request.user.is_superuser %}

        <div class="w3-card-4" style="width:50%;margin-left:auto;margin-right:auto;">
            <a href="/admin/materiales">
                <div class="w3-container">
                    <table summary="materiales">
                        <tbody>
                            <tr>
                                <td style="width: 10%">
                                    <img class="font-light text-white">
                                    <img src="/static/img/wheelbarrow.svg" style="height: 15em ">
                                </td>
                                <td style="text-align: left; padding-left: 10%">
                                    <div class="container" style="margin-top: 10%">
                                        <h4><b>Materiales</b></h4>
                                        <h4>Total: {{ total_materiales }}</h4>
                                        <h4>Última actualización: {{ ultima_actualizacion.fecha }}</h4>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </a>
        </div>

        <div class="w3-card-4" style="width:50%;margin-left:auto;margin-right:auto;">
            <a href="/admin/items/item">
                <div class="w3-container">
                    <table summary="items">
                        <tbody>
                            <tr>
                                <td style="width: 10%">
                                    <img class="font-light text-white">
                                    <img src="/static/img/brick-wall.svg" style="height: 15em ">
                                </td>
                                <td style="text-align: left; padding-left: 10%">
                                    <div class="container" style="margin-top: 10%">
                                        <h4><b>Rubros</b></h4>
                                        <h4>Total: {{ total_items }} ítems</h4>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </a>
        </div>

        <div class="w3-card-4" style="width:50%;margin-left:auto;margin-right:auto;">
            <a href="/admin/sistema">
                <div class="w3-container">
                    <table summary="sistema">
                        <tbody>
                            <tr>
                                <td style="width: 10%">
                                    <img class="font-light text-white">
                                    <img src="/static/img/settings.svg" style="height: 15em ">
                                </td>
                                <td style="text-align: left; padding-left: 10%">
                                    <div class="container" style="margin-top: 10%">
                                        <h4><b>Configuraciones del sistema</b></h4>
                                        <h4>Permisos, usuarios</h4>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </a>
        </div>
    {% endif %}

{% endblock %}