{% extends "admin/base_site.html" %}

{% block breadcrumbs %}

    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Inicio</a>
        &rsaquo; <a href="{% url 'admin:app_list' 'items' %}">Ítems</a>
        &rsaquo; <a href="/admin/items/item">Lista de ítems</a>
        &rsaquo; Detalle de ítem
    </div>

{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block content %}
    <style>
        .w3-card-4 {
          margin-bottom: 1%;
        }
        table {
            width:100%;
        }
        tbody{
            width: 100%;
            display: table;
        }
        .label {
            color: white;
            padding: 8px;
            font-weight: bold;
            font-size: x-large;
            border-radius: 5px;
        }
    </style>
    <style>
        th {
            text-align: center;
            background-color: #CCC;
            border: 1px solid #AAA;
            vertical-align: middle;
            font-size: 1.2em;
        }

        td {
            font-size: 1.2em;
        }

    </style>
    <div class="w3-card-4" style="width:60%;margin-left:auto;margin-right:auto; padding: 8px">
        <h1 style="text-align:center; color: black">{{ object.descripcion }}</h1>
        <h2><strong>Rubro: </strong>{{object.rubro}}</h2>
        <h2><strong>Unidad de medida: </strong>{{object.unidad_de_medida}}</h2>
    </div>


    <caption>
        <h4 style="text-align:center">Detalles</h4>
    </caption>

    {% if detalles %}
        <div class="w3-card-4" style="width:60%;margin-left:auto;margin-right:auto;">
            <table style="width: 100%">
                <tr><th>Material</th><th>Coeficiente</th></tr>

                {% for detalle in detalles %}
                <tr>
                    <td>{{ detalle.material }}</td>
                    <td style="text-align: right">{{ detalle.coeficiente }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    
    {% endif %}

    <button type="button" class="btn btn-primary" onclick="window.history.back(); return false;">Volver</button>

{% endblock %}
